<h1>
  <%=h exception.wrapped_exception.class.name %>
  <% if request.parameters['controller'] %>
    in <%=h request.parameters['controller'].humanize %>Controller<% if request.parameters['action'] %>#<%=h request.parameters['action'] %><% end %>
  <% end %>
</h1>
<pre><%=h exception.message %></pre>

<%= render :template => "exceptron/local_exceptions/_trace" %>
<%= render :template => "exceptron/local_exceptions/_request_and_response" %>
